.back {
  position: fixed;
  top: 2px;
  left: 2px;
  line-height: 1;
}

.bg-image-bldg {
  background: url("resources/images/bldg.jpg") center top no-repeat;
  background-size: cover;
}

.bth-color {
  color: darkmagenta;
}

.btn-lg {
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-list {
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn-pulsing {
  z-index: 1050;
  animation-name: button-pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: unset;
}

.btn-sm {
  border-radius: 0.3rem;
  display: inline;
  cursor: pointer;
}

.credit {
  position: fixed;
  bottom: 3px;
  right: 3px;
  z-index: 1040;
  text-align: center;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 3em;
  padding: 1vw 2vw;
  background-color: #ffffffaa;
}

.credit-minimum {
  font-size: 0.25rem;
}

.credit-proportional {
  font-size: 1.5vw;
}

.down-15 {
  margin-top: 15vh;
}

.down-10 {
  margin-top: 10vh;
}

.down-5 {
  margin-top: 5vh;
}

.frame {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  text-align: center;
}

.h1-minimum {
  font-size: 1.75rem;
}

.h1-proportional {
  font-size: 7.5vw;
}

.h2-minimum {
  font-size: 1.25rem;
}

.h2-proportional {
  font-size: 5.5vw;
}

.h3-minimum {
  font-size: 1rem;
}

.h3-proportional {
  font-size: 3.5vw;
}

.h4-minimum {
  font-size: 0.75rem;
}

.h4-proportional {
  font-size: 2.5vw;
}

.h5-minimum {
  font-size: 0.6rem;
}

.h5-proportional {
  font-size: 2vw;
}

html, body {
  height: 100%;
}

img {
  width: 100%;
  max-width: 100%;
}

.later {
  display: none;
  opacity: 0;
}

.list,
p.h1,
p.h2,
p.h3,
p.h4,
table,
ul {
  margin-left: 7vw;
  margin-right: 5vw;
  text-align: left;
}

.on-image {
  border-radius: 6px;
  padding: 0.1em 0.3em;
  background-color: #ffffff66;
}

.reminder {
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
  color: darkgray;
}

section {
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

td {
  padding-left: 1vw;
}

@keyframes button-pulse {
  from {
    opacity: 1;
    border-radius: 0.25rem;
  }
  to {
    opacity: 0.5;
    border-radius: 1.5rem;
  }
}
