.back {
  position: fixed;
  top: 2px;
  left: 2px;
  line-height: 1;
}

.bg-image {
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.bg-image-bldg-0 {
  background: url("resources/images/bldg-0.jpg") center top no-repeat;
  background-size: contain;
}

.bg-image-bldg-1 {
  background: url("resources/images/bldg-1.jpg") center top no-repeat;
  background-size: contain;
}

body {
  /* background-color: #e8ebf0; */
  background-color: #f8f8f0;
}

.bth-color {
  color: darkmagenta;
}

.btn-adjacent {
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-info:focus {
  border-width: 3px;
  border-style: solid;
  border-color: crimson;
}

.btn-lg {
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-list,
.btn-sm {
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn-mid-left {
  position: fixed;
  top: 40vh;
  transform: translateY(-50%);
  left: 2px;
}

.btn-mid-right {
  position: fixed;
  top: 40vh;
  transform: translateY(-50%);
  right: 20px;
}

.btn-pulsing {
  opacity: 0.8;
  z-index: 1050;
  animation-name: button-pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: unset;
}

.credit {
  position: fixed;
  bottom: 3px;
  right: 20px;
  z-index: 1040;
  text-align: center;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 3em;
  padding: 1vw 2vw;
  background-color: #ffffffaa;
}

.credit-minimum {
  font-size: 0.25rem;
}

.credit-proportional {
  font-size: 1.5vw;
}

.do {
  display: inline;
}

.down-10 {
  margin-top: 10vh;
}

.down-15 {
  margin-top: 15vh;
}

.down-2 {
  margin-top: 2vh;
}

.down-5 {
  margin-top: 5vh;
}

.frame {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  text-align: center;
}

.frame > p {
  margin-left: 3rem;
  margin-right: 3rem;
}

h1,
h2,
h3,
h4,
h5,
span.h1,
span.h2,
span.h3,
span.h4,
span.h5 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.h1-minimum {
  font-size: 1.75rem;
}

html, body {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.later {
  display: none;
  opacity: 0;
}

.leaded,
.leaded td,
.leaded li {
  padding-top: 0.5rem;
}

.list,
table,
ul {
  margin-bottom: 0;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 1;
  text-align: left;
}

.logo {
  width: 10vmin;
}

.mini-image {
  max-height: 2vw;
  width: auto;
  vertical-align: top;
}

.next {
  line-height: 1.5;
}

.next-high {
  position: fixed;
  top: 2px;
  right: 20px;
}

.noscroll {
  overflow-y: hidden;
}

.on-image {
  display: flex;
  justify-content: center;
}

.on-image > span {
  border-radius: 6px;
  padding: 0.1em 0.3em;
  background-color: #ffffffcc;
}

.reminder {
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
  color: darkgray;
}

section {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.table-btn td:first-child {
  padding-right: 0.5rem;
}

.tour-caption-on {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tour-caption-on > span {
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  padding: 0.1em 0.3em;
  border-color: gray;
  background-color: #ffff00dd;
}

.tour-title {
  margin-top: 50vh;
}

.undo {
  display: none;
}

.w15m4 {
  width: 15vw;
  max-width: 6rem;
}

@keyframes button-pulse {
  from {
    border-radius: 0.25rem;
  }
  to {
    border-radius: 1.5rem;
  }
}
