.bg-image {
  background: url("resources/images/header.jpg") center top no-repeat;
  background-size: cover;
}

.btn {
  cursor: pointer;
}

.btn-flex {
  margin-bottom: 3px;
  align-self: center;
}

.btn-outline-secondary {
  font-weight: bold;
}

.btn-pulsing {
  z-index: 1050;
  animation-name: button-pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: unset;
}

.carousel {
  border: 1px solid black;
  padding: 3px;
}

.carousel-item {
  height: 300px;
}

.content-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.credit {
  position: fixed;
  bottom: 3px;
  right: 3px;
  z-index: 1040;
  text-align: center;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 3em;
  padding: 1vw 2vw;
  background-color: #ffffffaa;
}

.credit-minimum {
  font-size: 0.25rem;
}

.credit-proportional {
  font-size: 1.5vw;
}

.detail-head {
  align-items: center;
}

.flex-if-shown {
  display: flex;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h1-minimum {
  font-size: 1rem;
}

.h1-proportional {
  font-size: 5vw;
}

.h4-minimum {
  font-size: 0.75rem;
}

.h4-proportional {
  font-size: 2.5vw;
}

.h-65 {
  height: 65%;
}

.header-height-fixed {
  height: 330px;
}

.header-list-main {
  color: white;
  text-shadow: 1px 1px 1px rgb(20, 20, 20);
  background-color: rgba(80, 80, 80, 0.7);
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

iframe {
  margin-bottom: 15px;
}

img {
  width: 100%;
}

.list-plain {
  list-style-type: none;
}

.on-image {
  border-radius: 1em;
  margin: 0;
  padding: 0 1em;
  background-color: #ffffffcc;
}

.push-other-item-lower {
  margin-bottom: 20vh;
}

.reminder {
  margin-bottom: 0;
  text-align: left;
  font-size: small;
  font-style: italic;
  color: gray;
}

section {
  display: none;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

section.detail-head,
section.detail-type {
  display: flex;
}

@keyframes button-pulse {
  from {
    opacity: 1;
    border-radius: 0.25rem;
  }
  to {
    opacity: 0.5;
    border-radius: 1.5rem;
  }
}

/*@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
  .carousel-item {
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-item {
    height: 576px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    background-position: center top -170px;
  }

  .carousel-item {
    height: 768px;
  }

  .header-list-main {
    padding: 15px 0;
    width: 75%;
  }
}

@media (min-width: 1200px) {
  h2 {
    margin: 20px;
  }

  h4 {
    margin: 50px 0 20px;
  }

  iframe {
    margin-bottom: 30px;
    height: 300px;
  }

  header {
    background-position: center top -170px;
  }

  .header-list-main {
    padding: 15px 0;
    width: 85%;
  }

  .carousel-item {
    height: 460px;
  }

  .map {
    height: 300px;
  }

  .treasures-list {
    padding-top: 20px;
  }

  section {
    margin: 55px 0;
  }

  .treasures-list li {
    margin-bottom: 4px;
  }
}*/
