.bg-image {
  background: url("resources/images/header.jpg") center top no-repeat;
  background-size: cover;
}

.btn-pulsing {
  animation-name: button-pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: unset;}

.carousel {
  border: 1px solid black;
  padding: 3px;
}

.carousel-item {
  height: 300px;
}

.content-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.credit {
  border-radius: 3em;
  padding: 1vw;
  background-color: #ffffff99;
}

.flex-if-shown {
  display: flex;
}

.header-height-fixed {
  height: 330px;
}

.header-list-main {
  color: white;
  text-shadow: 1px 1px 1px rgb(20, 20, 20);
  background-color: rgba(80, 80, 80, 0.7);
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

iframe {
  margin-bottom: 15px;
}

img {
  width: 100%;
}

.list-plain {
  list-style-type: none;
}

.on-image {
  border-radius: 1em;
  margin: 0;
  padding: 0 1em;
  background-color: #ffffffcc;
}

.push-other-item-lower {
  margin-bottom: 20vh;
}

/*.reminder {
  display: inline-block;
  border-radius: 3em;
  padding: 1vw;
  font-size: small;
  font-style: italic;
  color: gray;
  background-color: #ffffff44;
}*/

.reminder {
  border-radius: 3em;
  padding: 1vw;
  font-size: small;
  font-style: italic;
  color: gray;
  background-color: #ffffff66;
}

@keyframes button-pulse {
  from {
    opacity: 1;
    border-radius: 0.25rem;
  }
  to {
    opacity: 0.5;
    border-radius: 1rem;
  }
}

/*@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
  .carousel-item {
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-item {
    height: 576px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    background-position: center top -170px;
  }

  .carousel-item {
    height: 768px;
  }

  .header-list-main {
    padding: 15px 0;
    width: 75%;
  }
}

@media (min-width: 1200px) {
  h2 {
    margin: 20px;
  }

  h4 {
    margin: 50px 0 20px;
  }

  iframe {
    margin-bottom: 30px;
    height: 300px;
  }

  header {
    background-position: center top -170px;
  }

  .header-list-main {
    padding: 15px 0;
    width: 85%;
  }

  .carousel-item {
    height: 460px;
  }

  .map {
    height: 300px;
  }

  .treasures-list {
    padding-top: 20px;
  }

  section {
    margin: 55px 0;
  }

  .treasures-list li {
    margin-bottom: 4px;
  }
}*/
